# Ignore everything
*

# Always track this file
!.gitignore

# Allow Flutter
!Flutter/
Flutter/*
!Flutter/**

# Allow ML Models folder
!Healt_Research_ML_Models/
Healt_Research_ML_Models/*

# Allow only frontend inside it
!Healt_Research_ML_Models/frontend/
!Healt_Research_ML_Models/frontend/**

# Ignore node_modules everywhere (recommended)
node_modules/